# --- Emacs ---
*~
\#*\#
.\#*
*.elc
auto-save-list/
backups/
elpa/
straight/
eln-cache/
native-lisp/
custom.el

# --- Packages spécifiques ---
.python-environments/
node_modules/
projectile.cache
.projectile
lsp-session-pcache
lsp-savefile
