# Fichiers de sauvegarde d'Emacs
*~
\#*\#
.\#*

# Dossiers créés par les packages (ex: elpa, straight)
# Il vaut mieux laisser Emacs réinstaller les packages au démarrage
elpa/
straight/

# Fichiers de personnalisation automatique
# (Si tu utilises 'customize-set-variable')
custom.el

# Caches et états
auto-save-list/
url/
backups/
places
recentf
