# --- Emacs ---
*~
\#*\#
.\#*
*.elc
auto-save-list/
backups/
elpa/
straight/
eln-cache/
native-lisp/
custom.el
lsp-cache/

# --- Packages spécifiques ---
.python-environments/
node_modules/
projectile.cache
.projectile
lsp-session-pcache
lsp-savefile

# Cache Projectile (liste des projets)
.projectile
projectile.cache

# Cache LSP (très important pour ne pas polluer Git)
.lsp-session-v1
.emacs.desktop
.emacs.desktop.lock

libtree-sitter-*
projectile-bookmarks.*
.lsp-session-v1
